@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(#1f1f9f, white);
}

.container{
    background-color: white;
    padding: 20px 30px;
    width: 90%;
    height: 500px;
    max-width: 600px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px 0 black;
}

h1{
    color: red;
    margin-top: 50px;
    margin-bottom: 110px;
}

h2{
    margin-bottom: 130px;
}

button{
    width: 19vw;
    height: 4vh;
    border: none;
    border-radius: 10px;
    background-color: #b4c5e9;
    box-shadow: 0 0 10px 0 black;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
}